server {
	ip 127.0.0.1
	port 8081
	root .
	index index.html
	user_body_size 10
	location /poop/ {
		user_body_size 1000
		autoindex 1
		#error_page 404 lool.html
	}

	location /test/python_cgi/*.py {
		allowed_methods GET POST DELETE
		cgi_pass /usr/bin/python
	}
	location /test/php_cgi/*.php {
		cgi_pass /usr/bin/php
	}
	location /test/ {
		#autoindex 1
	}
	location /save_delete/ {
		root ./test
		user_body_size 1000000000
		save_file 1
	}
	location /test/forbidden_delete/ {
		allowed_methods GET POST DELETE
	}
	location /test/old/ {
		redirect 307 /test/new/
	}
	location /stats/*.py {
		cgi_pass /usr/bin/python
	}
}

server {
	ip 127.0.0.2
	port 8081
	root .
	index index1.html
	server_name test more_test
}