
# server options (server part only):
	# port (default is 80)
	# ip (default is 127.0.0.1)
	# server_name (defalut is "localhost")

# location options (location part only):
	# autoindex (default is 0)
	# allowed_methods (default is GET POST DELETE)
	# save_file (default is 0)
		# root will be taken as path to save file
	# cgi_path (work only idf location looks like *.php)
		# default path is ???

# root for location:
	#if not specified at all - "html"
	#if specified in server, but not specified in location - take from server
	#if specified both server and location - location preferable
# error_page - the same behaviour
# user_body_size - the same (default is 100.000)

server 		{
	server_name www.poop.ru
	root		/data/www
	error_page 404 /html/404.html
	location / {
		allowed_methods GET
		save_file 1
		error_page 404 /html/another_path_to_404/404.html
		#	location {
		#		allowed_methods
		#	}
	}
	location /poop/ {
		allowed_methods GET POST
		root /data/poop/ 
	}
	location *.php {
		cgi_path /html/my_cgi_handler
	}
}

server {
	port 8090
	ip	192.168.0.1
	server_name some.com
	user_body_size 100
	location /get {
	}
}

server {
	port 8081
	ip	192.168.0.1
	server_name second_server.com
	user_body_size 1000
	location / {
		no
	}
}
