server {
	ip 127.0.0.1
	port 8081
	#server_name lols
	root .
	index index.html
	user_body_size 10
	location /poop/ {
		user_body_size 1000
		autoindex 1
		#error_page 404 lool.html
	}

	location /cgi/*.py {
		allowed_methods GET
	}
	location /save_delete/ {
		user_body_size 10000000
		save_file 1
	}
	location /old/ {
		redirect 307 /new/
	}
}

server {
	ip 127.0.0.1
	port 8081
	server_name test
	root .
	index index.html
}